/* App.css */
.app {
  min-height: 100vh;
  background-color: #fbf5f1;
}

.main-content {
  padding-top: 80px; /* Account for fixed navbar */
  min-height: calc(100vh - 80px);
  background-color: #fbf5f1;
;
}

.auth-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  position: relative;
  padding-top: 60px;
  overflow: hidden;
}

.auth-header {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.auth-header h1 {
  font-family: "Georgia Pro";
  font-size: 4rem;
  margin-bottom: 10px;
  color: #8c8c44;
  font-weight: bold;
  
}

.auth-header p {
  font-size: 1.2rem;
  font-family: "Georgia Pro";
  color: #fbf6f1;
  margin: 0;
}
.auth-subtitle-container {
  background-color: #8c8c44;
  border-radius: 50px;
  padding: 6px 12px;
  display: inline-block;
}

.auth-forms {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .auth-forms {
    flex-direction: column;
    gap: 20px;
  }
  
  .auth-header h1 {
    font-size: 2rem;
  }
}
